.TopIccon {
  font-size: 50px;
  margin-bottom: 386px;
  color: white;
}

.altleft,
.altright,
.altcenter {
  background-color: rgb(112, 98, 98);
  flex: auto;
  display: flex;
  align-items: center;
  padding-top: 150px;
  justify-content: center;
}
.AltBar {
  height: 0;
  display: flex;
  align-items: center;
}
