.contentImg {
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 50%;
}
.img {
  border-radius: 50%;
}

.App {
  background-color: rgb(112, 98, 98);
}
.tıkla {
  background-color: rgb(44, 100, 149);
  width: 50%;
}
